/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar en el eje horizontal */
  justify-content: center; /* Centrar en el eje vertical */
  min-height: 50vh; /* Ocupar toda la pantalla */
  background-color: #f8f9fa; /* Fondo ligero */
}

.item-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff;
  }
  
  .item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .item-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .item-name {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
  }
  
  .item-description {
    font-size: 14px;
    color: #666;
    margin: 8px 0;
  }
  
  .item-price {
    font-size: 16px;
    font-weight: bold;
    color: #1e3a8a; /* Azul oscuro */
    margin: 10px 0;
  }
  
  .item-button {
    background-color: #3b82f6; /* Azul más claro */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .item-button:hover {
    background-color: #2563eb; /* Azul más oscuro al pasar el mouse */
  }


  
  .cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh; /* Ocupa toda la altura de la pantalla */
    background-color: #f8f9fa; /* Fondo claro */
    color: #343a40; /* Color de texto oscuro */
    text-align: center;
    padding: 20px;
  }
  
  .cart-empty h1 {
    font-size: 3rem; /* Tamaño grande para el código de error */
    margin: 0;
    color: #dc3545; /* Color rojo para el código de error */
  }
  
  .cart-empty p {
    font-size: 1.5rem; /* Tamaño de texto para el mensaje */
    margin: 10px 0 20px 0;
  }
  