.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Ocupa toda la altura de la pantalla */
    background-color: #f8f9fa; /* Fondo claro */
    color: #343a40; /* Color de texto oscuro */
    text-align: center;
    padding: 20px;
  }
  
  .error-container h1 {
    font-size: 6rem; /* Tamaño grande para el código de error */
    margin: 0;
    color: #dc3545; /* Color rojo para el código de error */
  }
  
  .error-container p {
    font-size: 1.5rem; /* Tamaño de texto para el mensaje */
    margin: 10px 0 20px 0;
  }
  
  .error-container a {
    text-decoration: none;
    background-color: #007bff; /* Color azul para el botón */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease; /* Transición suave */
  }
  
  .error-container a:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
  }